
/* Start reset: https://www.joshwcomeau.com/css/custom-css-reset/ */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Increase line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
    10. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}
/* End reset */

:root {
    font-family: sans-serif;
    font-size: 120%;

    --text-primary: oklch(17.764% 0 none);
    --text-on-highlight: oklch(17.764% 0 none);
    --background: oklch(99.809% 0.00918 106.565);
    --highlight-background: oklch(88.36% 0.12898 93.666);
}

/* Dark Mode! */
@media (prefers-color-scheme: dark) {
    :root {
        --text-primary: oklch(89.755% 0 none);
        --background: oklch(19.573% 0 none);
    }
}

body {
    margin-block-start: 2rem;
    margin-inline: auto;

    padding-inline: 1rem;

    background-color: var(--background);
    color: var(--text-primary);
}

a:link,
a:visited {
    color: inherit;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 0.05em;
}

mark {
    color: var(--text-on-highlight);
    background: var(--highlight-background);
}

p, nav, table {
    margin-block-start: 1em;
}

h1 {
    margin-block-start: 4rem;
    margin-block-end: 1.5rem;
}

h2 {
    margin-block-start: 2.1rem;
    margin-block-end: 1.4rem;
}

h3 {
    margin-block-start: 2rem;
    margin-block-end: 1.4rem;
}

#primary-bio-section {
    margin-block-start: 3em;
    margin-block-end: 4em;
}

p {
    max-inline-size: 25em;
}

/*
    1.5em + 23.5em = 25em,
    to be the same width as paragraph
*/
dl,
ol,
ul {
    max-inline-size: 23.5em;
    padding-inline-start: 1.5em;
}

th,
td {
    padding-inline-end: 1em;
}

th {
    text-align: start;
}

td {
    vertical-align: middle;
    padding-block: 0.5em;
}

table {
    inline-size: 100%;
}

thead,
.what-column,
.by-column,
.length-column {
    display: none;
}

.image-column img {
    display: block;
    inline-size: 48px;
    block-size: 48px;
    object-fit: cover;
}

.item-text {
    min-inline-size: 0;
}

.item-details {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.8em;
}

.detail-by::before,
.detail-length::before {
    content: "·"; /* add interpunct */
    margin-inline: 0.35em;
}

/* phone-only hacks */
@media (width < 576px) {
    table {
        table-layout: fixed;
    }

    .number-column {
        inline-size: 1.5rem;
        padding-inline-end: 0.5em;
    }

    .image-column {
        inline-size: 48px;
        padding-inline-end: 0;
    }

    .name-column {
        overflow: hidden;
    }

    .item-text > a {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

/* reveal what-column */
@media (width >= 576px) {
    thead {
        display: table-header-group;
    }

    .what-column {
        display: table-cell;
    }

    .detail-type {
        display: none;
    }

    .detail-length::before {
        content: none;
    }
}

/* reveal length-column */
@media (width >= 768px) {
    body {
        margin-block-start: 6rem;
        margin-inline: unset;
        margin-inline-start: 12.5%;

        padding-inline: 0 1rem;
        inline-size: 87.5%;
        max-inline-size: 992px;
    }

    .length-column {
        display: table-cell;
        inline-size: 6rem;
    }

    .detail-length {
        display: none;
    }

    .detail-by::before {
        content: none;
    }

    td {
        padding-block: 0;
    }
}

/* reveal by-column */
@media (width >= 992px) {
    .by-column {
        display: table-cell;
    }

    .length-column {
        inline-size: auto;
    }

    .item-details {
        display: none;
    }
}
