:root {
    font-family: sans-serif;
}

main {
    max-inline-size: 25em;

    margin-block-start: 6rem;
    padding-inline-start: 12.5%;
}

@media (max-width: 760px) {
    main {
        margin-block-start: 2rem;
        margin-inline: auto;
        padding-inline: 1rem;
    }
}